.product_item{
    border: 1px solid #fde4e4;
    text-align: center;
    padding: 30px;
    cursor: pointer;
}
.product_img{
    margin-bottom: 30px;
    transition: .4s;
}
.product_img:hover{
    transform: scale(1.4);
}
.product_contect h5 a{
    color:#212245;
    font-size: 1rem;
}
.product_contect h5{
    margin-bottom: 30px;

}
.product_price{
    font-weight: 700;
    font-size: 1.3rem;
    color: red;
}
.addToCart_btn{
    border: none;
    padding: 7px 20px;
    background:red;
    border-radius: 5px;
    color:white;
    font-size: .9rem;

}